<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="effects">
    <h2>Conditions</h2>
    <ul class="conditions">
    {{#each conditions}}
      <li>
        <label>
        <input type="checkbox" {{#if active}}checked{{/if}}/>
        <img src="{{img}}" class="icon-img" />
        <span>{{ name }}</span>
        </label>
      </li>
    {{/each}}
    </ul>
    <h2>Active Effects <button class="inline-control icon fa-regular fa-square-plus" data-action="addEffect"></button></h2>
    <ul>
    {{#each effects}}
        <li>{{ name }} {{source}}</li>
    {{/each}}
    </ul>
</section>
