<section class="tab combat {{tab.cssClass}}" data-group="primary" data-tab="events">
<table>
    <tbody>
        <tr>
            <th>{{localize 'PEN.year'}}</th>
            <th>{{localize 'PEN.event'}}</th>
            <th>{{localize 'PEN.glory'}}</th>
        </tr>
        {{#each history as |historical key|}}
        <tr>
        <td>{{historical.system.year}}</td>
        <td>{{historical.name}}: {{historical.label}}</td>
        <td>{{historical.system.glory}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="history-grid">
  <div class="stat-name bold grid-item centre">{{ localize "PEN.year" }}</div>
  <div class="stat-name bold grid-item">{{ localize "PEN.event" }}</div>
  <div class="stat-name bold grid-item centre">{{ localize "PEN.glory" }}</div>
  <div class="stat-name bold grid-item centre item-create" data-type="history">  
    <a class="large-icon" title="{{localize 'PEN.addHistory'}}"><i class="item-control fas fa-plus"></i></a>
  </div> 

  {{#each history as |historical key|}}
    <div class="grid-item stat-name centre">{{historical.system.year}}</div>
    <div class="grid-item stat-name">{{historical.name}}</div>
    <div class="grid-item stat-name centre">{{historical.system.glory}}</div>
    <div class="item grid-item centre" data-itemid ="{{historical._id}}">
      <a class="item-control item-edit large-icon fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
      {{#unless ../system.lock}}
        <a class="item-control item-delete fade large-icon"><i title="{{localize 'PEN.delete'}}" class="fas fa-broom-wide"></i></a>
      {{/unless}}
    </div>  
  {{/each}}
</div>
</section>