<section class="tab passions {{tab.cssClass}}" data-group="primary" data-tab="passions">

  <ol class="skill-list">
    {{#each passions as |passion key|}}
      <li class="item passion-grid" data-item-id="{{passion._id}}">
        {{#if (eq passion.system.level 0)}}
          {{#unless (eq passion.system.court 'adoratio')}}
            <br>
          {{/unless}}
          <div class="stat-name new-row bold passion-name {{#if (gt passion.system.total 40)}} result-success{{/if}}">{{passion.name}}</div>
          <div></div>
          <div class="stat-name centre {{#if (gt passion.system.total 40)}} result-success{{/if}}">{{passion.system.total}}</div>
          <div class="centre item">
            <a class="large-icon fade item-create" data-type="passion" data-court="{{passion.system.court}}"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-plus"></i></a>
          </div>
        {{else}}
        {{#if (or (ne passion.system.total 0) (not ../system.lock))}}
          <div class="centre new-row"><a class="item-control item-toggle large-icon" data-itemid ="{{passion._id}}" data-property="XP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if passion.system.XP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
          <div class="stat-name rollable passion-name" title="{{localize 'PEN.rollHint'}}" data-itemid="{{passion._id}}">{{passion.name}}
            {{#if (ne passion.system.dishonour 0)}}
              [{{passion.system.dishonour}}]
            {{/if}}
          </div>
          <div class="stat-name centre" title="{{passion.system.flavour}}">{{passion.system.total}}</div>
          <div class="centre item" data-itemid ="{{passion._id}}">
            <a class="item-control item-edit large-icon fade"><i title="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
            {{#unless ../system.lock}}
              <a class="item-control item-delete large-icon fade"><i title="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
            {{/unless}}
          </div>
          {{/if}}
        {{/if}}
      </li>
    {{/each}}
  </ol>
</section>