  <section class="tab traits {{tab.cssClass}}" data-group="primary" data-tab="traits">
    <h2>Traits</h2>
    <div style="width:314px">
    <ol class="trait-grid2">
    {{#each traits as |trait key|}}
      <li>
        <span class="right {{#if (gt trait.system.total 15)}}famous{{/if}} {{#if (gt trait.system.total 20)}}exalted{{/if}}">{{trait.system.total}}</span>
        <span class="centre"><a class="item-control item-toggle large-icon" data-itemid ="{{trait._id}}" data-property="XP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if trait.system.XP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></span>
        <span class="trait right {{#if (gt trait.system.religious 0)}}religious {{/if}}{{#if (gt trait.system.total 15)}}famous{{/if}} {{#if (gt trait.system.total 20)}}exalted{{/if}}" data-type ="trait" data-itemid="{{trait._id}}">{{trait.name}}</span>
        <span><i class="fa-regular fa-scale-balanced"></i></span>
        <span class="trait {{#if (lt trait.system.religious 0)}}religious {{/if}}{{#if (gt trait.system.oppvalue 15)}}famous{{/if}} {{#if (gt trait.system.oppvalue 20)}}exalted{{/if}}" data-type ="opptrait" data-itemid="{{trait._id}}">{{trait.system.oppName}}</span>
        <span class="centre"><a class="item-control item-toggle large-icon" data-itemid ="{{trait._id}}" data-property="oppXP" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if trait.system.oppXP}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></span>
        <span class="right {{#if (gt trait.system.oppvalue 15)}}famous{{/if}} {{#if (gt trait.system.oppvalue 20)}}exalted{{/if}}">{{trait.system.oppvalue}}</span>
      </li>
    {{/each}}
    </ol>
    </div>
    <h2>Ideals</h2>
    <p>Card w/ disclosure widget per ideal -- allow dropping an ideal even if not qualified, just mark inactive until then</p>
  </section>
