<section class="npc-notes-section {{#unless displayNotes }}hide-enc-notes{{/unless}}">
  {{!--Notes Block --}}
    <div class="npc-name bold grey" style="padding-left:10px;">{{ localize "PEN.notes" }}</div>  
    <div class="npcv2-notes-doc">
      {{#if editable}}
        <prose-mirror name="system.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.description}}"
          collaborate="true" toggled="true">
          {{{enrichedDescription}}}
        </prose-mirror>
      {{else}}
        {{{enrichedDescription}}}
      {{/if}}
    </div>



</section>