<form class="Pendragon">
  <div class="actor-roll">
    <img class="open-actor" src="{{card.particImg}}" width="50" title="{{card.particName}}"/>
    <div class="header">
      <span class="name">{{card.particName}} - {{card.actionLabel}}</span>
    </div>
  </div>
  <p>{{card.content}}</p>
</form>
