<form class="Pendragon">
    <div class="dice-roll">
      <div style="display: block">  
        <div class="flavour-result"> {{localize 'PEN.xpRoll'}}</div>

      {{#each success as | line key|}}  

        <div class="flavour-result">
          {{line.type}}: {{line.name}} ({{line.roll}} v {{line.total}}) - 
           
          {{#if (eq line.result 1)}}
            {{ localize 'PEN.improved' }} 
          {{else}}
            {{ localize 'PEN.noImprove' }}
          {{/if}}      
        </div>  
      {{/each}}  

    </div>
  </div>
</form>  

