<div class="tab {{tab.cssClass}}" data-group="primary" data-tab="description">
    <div class="money-grid">
        <div class="stat-name left bold">{{localize 'PEN.price'}}</div>
        <div class="stat-name-input {{#if (eq item.system.libra '')}} input-border {{/if}} left"><input name="system.libra" type="text" value="{{item.system.libra}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">/</div>
        <div class="stat-name-input {{#if (eq item.system.denarii '')}} input-border {{/if}} left"><input name="system.denarii" type="text" value="{{item.system.denarii}}" data-dtype="Number"/></div>
    </div>
    
    <div class="stat-name bold">{{localize 'PEN.description'}}:</div>
  <div class="background-doc">
  {{#if editable}} 
    <prose-mirror name="system.description" data-document-uuid="{{item.uuid}}" value="{{system.description}}" toggled="true">
      {{{enrichedDescriptionValue}}}
    </prose-mirror>
  {{else}} {{{enrichedDescriptionValue}}}
  {{/if}}
  </div>
</div>