
<section class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  {{!-- Trait Group --}}
    <div class="horizontalboxed {{#if isGM}} droppable {{/if}}" data-collection = "traitGroup">
    <div class="stat-name groupTitle">
      <div class="bold">{{ localize "PEN.traitGroup"}}</div>
      <div class="bold">{{ localize "PEN.required"}}</div>
      {{#if isGM}}
        <div class="stat-name-input {{#if (eq item.system.traitGroupScore '')}} input-border {{/if}} centre"><input name="system.traitGroupScore" type="text" value="{{item.system.traitGroupScore}}" data-dtype="Number"/></div>
      {{else}}
      <div class="stat-name centre">{{item.system.traitGroupScore}}</div>
      {{/if}}
    </div>
    <ol class="item-list">
      {{#each traitGroup as |trait|}}
        <li class="item flexrow" data-item-id="{{trait.uuid}}" data-pid = "{{trait.flags.Pendragon.pidFlag.id}}" >
          <div class="item-name flexrow">
            {{#if trait.valid}}
              <div class="stat-name">{{trait.name}}</div>
            {{else}}
              <div class="stat-name result-success">{{trait.name}} [{{localize 'PEN.invalid'}}]</div>
            {{/if}}
          </div>
          <div class="item-controls">
            {{#if ../isGM}}
              <a class="item-control item-delete" data-collection = "traitGroup" title="{{localize 'PEN.deleteItem'}}" data-action="deleteItem"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Requirements --}}
    <div class="horizontalboxed {{#if isGM}} droppable {{/if}} " data-collection = "require">
    <div class="stat-name bold">{{ localize "PEN.requirements"}}</div>
    <ol class="item-list">
      {{#each require as |requirement|}}
        <li class="item flexrow" data-item-id="{{requirement.uuid}}" data-pid = "{{requirement.flags.Pendragon.pidFlag.id}}" >
          <div class="item-name flexrow">
            {{#if requirement.valid}}
              <div class="stat-name">{{requirement.name}}</div>
            {{else}}
              <div class="stat-name result-success">{{requirement.name}} [{{localize 'PEN.invalid'}}]</div>
            {{/if}}
          </div>
          <div class="item-name flexrow">
            <div class="stat-name" >{{requirement.score}}</div>
          </div>
          <div class="item-controls">
            {{#if ../isGM}}
              <a class="item-control item-delete" data-collection = "require" title="{{localize 'PEN.deleteItem'}}" data-action="deleteItem"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>

  <div class="stat-name bold">{{ localize "PEN.benefits"}}</div>
  <div class="item-trait-grid">
    {{#if isGM}}
      <div class="stat-name left bold">{{localize 'PEN.passive'}}</div>
      <div class="stat-name-input "><input name="system.glory" type="text" value="{{item.system.glory}}" data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.armourPoints'}}</div>
      <div class="stat-name-input "><input name="system.armour" type="text" value="{{item.system.armour}}" data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.hp'}}</div>
      <div class="stat-name-input "><input name="system.hp" type="text" value="{{item.system.hp}}" data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.healRate'}}</div>
      <div class="stat-name-input "><input name="system.hr" type="text" value="{{item.system.hr}}" data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.damageBonus'}}</div>
      <div class="stat-name-input "><input name="system.dam" type="text" value="{{item.system.dam}}"/></div>
      <div class="stat-name left bold">{{localize 'PEN.move'}}</div>
      <div class="stat-name-input "><input name="system.move" type="text" value="{{item.system.move}}" data-dtype="Number"/></div>
    {{else}}
      <div class="stat-name left bold">{{localize 'PEN.passive'}}</div>
      <div class="stat-name">{{item.system.glory}}</div>
      <div class="stat-name left bold">{{localize 'PEN.armourPoints'}}</div>
      <div class="stat-name">{{item.system.armour}}</div>
      <div class="stat-name left bold">{{localize 'PEN.hp'}}</div>
      <div class="stat-name">{{item.system.hp}}</div>
      <div class="stat-name left bold">{{localize 'PEN.healRate'}}</div>
      <div class="stat-name">{{item.system.hr}}</div>
      <div class="stat-name left bold">{{localize 'PEN.damageBonus'}}</div>
      <div class="stat-name">{{item.system.dam}}</div>
      <div class="stat-name left bold">{{localize 'PEN.move'}}</div>
      <div class="stat-name">{{item.system.move}}</div>
    {{/if}}
  </div>
</section>