<section class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="item-trait-grid">
    <div class="stat-name left bold">{{localize 'PEN.age'}}</div>
    <div class="stat-name-input centre"><input name="system.age" type="text" value="{{item.system.age}}" placeholder=10 data-dtype="Number"/></div>
    <div class="stat-name left bold">{{localize 'PEN.type'}}</div>
    <div class="stat-name centre">
      <select data-handle-change name="system.category">
        {{selectOptions squireType selected=item.system.category}}
      </select>
    </div>
    {{#if (eq item.system.category 'squire')}}
      <div class="stat-name left bold">{{localize 'PEN.skill'}}</div>
      <div class="stat-name-input centre"><input name="system.skill" type="text" value="{{item.system.skill}}" placeholder=15 data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.knightlyMod'}}</div>
      <div class="stat-name-input centre"><input name="system.knightMod" type="text" value="{{item.system.knightMod}}" placeholder=0 data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.glory'}}</div>
      <div class="stat-name-input centre"><input name="system.glory" type="text" value="{{item.system.glory}}" placeholder=0 data-dtype="Number"/></div>
    {{/if}}
  </div>
</section>

