<section class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="item-trait-grid">
    <div class="stat-name left bold">{{localize 'PEN.melee'}}</div>
    <div class="centre"><a class="item-control {{#if isGM}}item-toggle{{/if}} large-icon" data-property = "melee" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.melee}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
    <div class="stat-name left bold">{{localize 'PEN.improvised'}}</div>
    <div class="centre"><a class="item-control {{#if isGM}}item-toggle{{/if}} large-icon" data-property = "improv" title="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if item.system.improv}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
  </div>
  <br>

  {{#if isGM}}
    <div class="item-trait-grid">
      <div class="stat-name left bold">{{localize 'PEN.skill'}}</div>
        <div class="stat-name centre">
          <select data-handle-change name="system.skill">
            {{selectOptions skillType selected=item.system.skill}}
          </select>
        </div>
        <br>
        <div></div>

        <div class="stat-name left bold">{{localize 'PEN.mounted'}}</div>
        <div class="stat-name centre">
          <select data-handle-change name="system.mounted">
            {{selectOptions usageType selected=item.system.mounted}}
          </select>
        </div>
        <br>
        <div></div>

        <div class="stat-name left bold">{{localize 'PEN.source'}}</div>
        <div class="stat-name centre">
          <select data-handle-change name="system.damageChar">
            {{selectOptions damageType selected=item.system.damageChar}}
          </select>
        </div>
        <br>
        <div></div>
        <div class="stat-name left bold">{{localize 'PEN.damageMod'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.damageMod '')}} input-border {{/if}} centre"><input name="system.damageMod" type="text" value="{{item.system.damageMod}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">{{localize 'PEN.unarmouredMod'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.unarmoured '')}} input-border {{/if}} centre"><input name="system.unarmoured" type="text" value="{{item.system.unarmoured}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">{{localize 'PEN.mailMod'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.mail '')}} input-border {{/if}} centre"><input name="system.mail" type="text" value="{{item.system.mail}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">{{localize 'PEN.plateMod'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.plate '')}} input-border {{/if}} centre"><input name="system.plate" type="text" value="{{item.system.plate}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">{{localize 'PEN.damageBonus'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.damageBonus '')}} input-border {{/if}} centre"><input name="system.damageBonus" type="text" value="{{item.system.damageBonus}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">{{localize 'PEN.damageMax'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.damageMax '')}} input-border {{/if}} centre"><input name="system.damageMax" type="text" value="{{item.system.damageMax}}" data-dtype="Number"/></div>
        <div class="stat-name left bold">{{localize 'PEN.parry'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.parry '')}} input-border {{/if}} centre"><input name="system.parry" type="text" value="{{item.system.parry}}" data-dtype="Number"/></div>
      </div>
      <br>
      {{#if item.system.melee}}
        <div class="stat-name left bold">{{localize 'PEN.advantage'}}</div>
        <div class="stat-name-input  {{#if (eq item.system.advantage '')}} input-border {{/if}} centre"><input name="system.advantage" type="text" value="{{item.system.advantage}}"/></div>
      {{/if}}
      <div class="stat-name left bold">{{localize 'PEN.disadvantage'}}</div>
      <div class="stat-name-input  {{#if (eq item.system.disadvantage '')}} input-border {{/if}} centre"><input name="system.disadvantage" type="text" value="{{item.system.disadvantage}}"/></div>
      {{#unless item.system.melee}}
      <br>
      <div class="item-trait-grid">
          <div class="stat-name left bold">{{localize 'PEN.range'}}</div>
          <div class="stat-name centre">
            <select data-handle-change name="system.range">
              {{selectOptions rangeType selected=item.system.range}}
            </select>
          </div>
          <div></div>
          <br>
          <div class="stat-name left bold">{{localize 'PEN.rate'}}</div>
          <div class="stat-name-input {{#if (eq item.system.rate '')}} input-border {{/if}} centre"><input name="system.rate" type="text" value="{{item.system.rate}}"/></div>
        </div>
      {{/unless}}

      {{else}}
        <div class="item-trait-grid">
          <div class="stat-name left bold">{{localize 'PEN.skill'}}</div>
          <div class="stat-name centre">{{skill}}</div>
          <br>
          <div></div>
          <div class="stat-name left bold">{{localize 'PEN.mounted'}}</div>
          <div class="stat-name centre">{{mounted}}</div>
          <br>
          <div></div>
          <div class="stat-name left bold">{{localize 'PEN.source'}}</div>
          <div class="stat-name centre">{{damageChar}}</div>
          <div class="stat-name left bold">{{localize 'PEN.damageMod'}}</div>
          <div class="stat-name centre">{{item.system.damageMod}}</div>
          <div class="stat-name left bold">{{localize 'PEN.unarmouredMod'}}</div>
          <div class="stat-name centre">{{item.system.unarmoured}}</div>
          <div class="stat-name left bold">{{localize 'PEN.mailMod'}}</div>
          <div class="stat-name centre">{{item.system.mail}}</div>
          <div class="stat-name left bold">{{localize 'PEN.plateMod'}}</div>
          <div class="stat-name centre">{{item.system.plate}}</div>
          <div class="stat-name left bold">{{localize 'PEN.damageBonus'}}</div>
          <div class="stat-name centre">{{item.system.damageBonus}}</div>
          <div class="stat-name left bold">{{localize 'PEN.damageMax'}}</div>
          <div class="stat-name centre">{{item.system.damageMax}}</div>
          <div class="stat-name left bold">{{localize 'PEN.parry'}}</div>
          <div class="stat-name centre">{{item.system.parry}}</div>
          {{#if item.system.melee}}
            <div class="stat-name left bold">{{localize 'PEN.advantage'}}</div>
            <div class="stat-name centre">{{item.system.advantage}}</div>
          {{/if}}
            <div class="stat-name left bold">{{localize 'PEN.disadvantage'}}</div>
            <div class="stat-name centre">{{item.system.disadvantage}}</div>
          {{#unless item.system.melee}}
            <div class="stat-name left bold">{{localize 'PEN.range'}}</div>
            <div class="stat-name centre">{{range}}</div>
            <div class="stat-name left bold">{{localize 'PEN.rate'}}</div>
            <div class="stat-name centre">{{item.system.rate}}</div>
          {{/unless}}
        </div>
      {{/if}}

      {{#if hasOwner}}
        <br>
        <div class="item-trait-grid">
          <div class="stat-name left bold">{{localize 'PEN.quantity'}}</div>
          <div class="stat-name-input {{#if (eq item.system.quantity '')}} input-border {{/if}} centre"><input name="system.quantity" type="text" value="{{item.system.quantity}}" data-dtype="Number"/></div>
        </div>
      {{/if}}

</div>

</section>
