  <section >
    <div class = "history-small-grid">
      <div class="stat-name left bold">{{localize 'PEN.damage'}}</div>
      <div class="stat-name-input centre bottom dam-value"><input name="system.value" type="text" value="{{item.system.value}}" data-dtype="Number"/></div>
      <div class="stat-name left bold">{{localize 'PEN.damType'}}</div>
      <div class="stat-name">{{source}}</div>
      <div class="stat-name left bold">{{localize 'PEN.description'}}</div>
      <div class="stat-name">{{item.system.description}}</div>
    </div>
  </section>
